/.idea/

# BG3 stock files
/*.pak

# some binary file
/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/GUI/metadata.lsf

# BG3 stock folders
/Video/
/Mods/Gustav/
/Mods/GustavDev/
/Mods/Shared/
/Mods/SharedDev/
/Editor/Mods/DiceSet_01/
/Editor/Mods/DiceSet_02/
/Editor/Mods/DiceSet_03/
/Editor/Mods/DiceSet_06/
/Editor/Mods/Engine/
/Editor/Mods/Gustav/
/Editor/Mods/GustavDev/
/Editor/Mods/MainUI/
/Editor/Mods/ModBrowser/
/Editor/Mods/Shared/
/Editor/Mods/SharedDev/
/Editor/MEIEditor/
/Editor/Hints/
/Editor/Help/
/Editor/Gizmos/
/Editor/Config/
/Editor/Preview/
/Editor/Shared/
/Editor/Temp/
/Editor/Textures/
/Editor/Triggers/
/Generated/Public/Engine/
/Public/Engine/
/Public/Shared/
/Public/UserTemp/
/Projects/GustavDev/
/Localization/Russian/
/Localization/English.pak
/Localization/English_Animations.pak
/Localization/language.lsx
/Localization/Voice.pak
/Localization/VoiceMeta.pak
/_dbcache_/loca.db
/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/Story/log.txt
/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/Story/story_orphanqueries_found.txt
/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/Story/story_orphanqueries_ignore.txt
